/* ********** ********** ********** ********** ********** ********** ********** */
/* ESTILOS GLOBALES */
/* ********** ********** ********** ********** ********** ********** ********** */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

hr {
  height: 0.1rem;
  margin: 0 calc(5%);
  background: rgb(0, 155, 255);
  border: none;
}

/* ********** ********** ********** ********** ********** ********** ********** */
/* ********** ********** ********** ********** ********** ********** ********** */
