/* ********** ********** ********** ********** ********** ********** ********** */
/* ESTILOS "CAJA DE RITMOS 10 BOTONES" */
/* ********** ********** ********** ********** ********** ********** ********** */

/* INSTRUCCIONES GENERALES. */
.overallContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 2rem);
  width: calc(100vw - 32rem);
  padding: 0 2rem;
  overflow-x: auto;
  overflow-y: auto;
}

.title {
  margin: 1rem 3rem;
  font-size: 3rem;
  text-align: center;
}

.rmg {
  margin: 1rem;
  font-size: 1.75rem;
  text-align: center;
}

.drumMachine {
  display: grid;
  grid-template-rows: 20% 55% 25%;
  height: 300px;
  max-height: 90%;
  width: 450px;
  max-width: 90%;
  min-width: 280px;
  margin: auto;
  background: rgba(230, 230, 230, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2),
    0.2rem 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}

.displayContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  min-height: 4rem;
  margin: 2rem 2rem 0; 
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

.display {
  color: white;
  background: rgba(0, 0, 0, 0);
  font-size: 2.2rem;
  text-align: center;
}

.drumPadContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 7%;
  padding: 2rem;
}

.drumPad {
  display: grid;
  justify-content: center;
  align-content: center;
  background: rgba(0, 200, 0, 1);
  font-size: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.4),
    0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.controlsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.controls {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.controls p {
  font-size: 1.6rem;
  text-align: center;
}

.switch {
  position: relative;
  display: block;
  height: 3rem;
  width: 6rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 200, 0, 1);
  border-radius: 2rem;
  transition: 500ms;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.2rem;
  width: 2.2rem;
  top: 0.4rem;
  left: 0.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  transition: 500ms;
}

input:checked + .slider {
  background-color: rgba(0, 0, 0, 0.8);
}

input:checked + .slider:before {
  background-color: rgba(0, 200, 0, 1);
  transform: translateX(3rem);
}

.overallContainer::-webkit-scrollbar {
  height: 1rem;
  width: 1rem;
  background-color: rgb(225, 225, 225);
  border: 0.1rem solid rgb(240, 250, 255);  
}

/* FONDO DE PANTALLA EN DISPOSITIVOS DE 1020px O MENOS. */
@media only screen and (max-width: 1020px) {
  .overallContainer {
    background-size: 50%, 50%;
  }
}

/* INSTRUCCIONES EN DISPOSITIVOS DE 916px O MENOS. */
@media only screen and (max-width: 916px) {
  .overallContainer {
    height: calc(100vh - 5rem);
    width: 100vw;
    background-size: 35%, 35%;
  }
  .title {
    font-size: 2.5rem;
  }
  .rmg {
    font-size: 1.25rem;
  }
  .drumMachine {
    width: 400px;
  }
}

/* INSTRUCCIONES EN DISPOSITIVOS DE 650px O MENOS. */
@media only screen and (max-width: 650px) {
  .overallContainer {
    background-size: 45%, 45%;
  }
}

/* INSTRUCCIONES EN PANTALLAS CON ORIENTACION landscape. PEQUEÑAS */
@media only screen and (orientation: landscape) {
  @media only screen and (max-width: 916px) {
    @media only screen and (max-height: 500px) {
      .overallContainer {
        background-size: 35%, 35%;
      }
    }
  }
}

/* ********** ********** ********** ********** ********** ********** ********** */
/* ********** ********** ********** ********** ********** ********** ********** */
