/* ********** ********** ********** ********** ********** ********** ********** */
/* ESTILOS "MENU DE HAMBURGUESA" */
/* ********** ********** ********** ********** ********** ********** ********** */

/* INSTRUCCIONES GENERALES. */
.burger {
  cursor: pointer;
  color: black;  
  background: rgb(240, 250, 255);  
  font-size: 2.5rem;
  border: none;
}

.burger:hover {
  color: white;
  background: rgb(0, 155, 255);  
}

.burger:active {
  color: black;
  background: rgb(240, 250, 255); 
}

/* INSTRUCCIONES EN DISPOSITIVOS DE 917px O MÁS. */
@media only screen and (min-width: 917px) {
  .burger {
    display: none;
  }
}

/* ********** ********** ********** ********** ********** ********** ********** */
/* ********** ********** ********** ********** ********** ********** ********** */